.top-section{
  text-align: center;
  background-color: #212529;
  color: #ffffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

body{
  margin: 0;
}

#avatar{
  width: 15%
}

#skills-header{
  font-size: 50px;
  color: #37B8D4;
}

.skills-section{
  text-align: center;
}

#python-icon{
  width: 12%;
  float:right;
}

#database-icon{
  width: 12%;
  float:left;
}

#web-icon{
  width: 12%;
  float:right;
}

.skills-row{
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
}

#skills-para{
  line-height: 1.5;
  margin-left: 50px
}
