
/* body{
  margin: : 0
}

p{
  color:blue
}

#designation{
  color:red
}

#from-div{
  background-color: #912529;
  color:blue;
  margin: 150px;
  padding: 50px
}

.to-div{
  background-color: #917529;
  padding: 10px
}*/

#closing-name{
  font-family: 'Redressed', cursive;
}
